@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.about {

  &__collapses {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include m.respond-to(desktop) {
      padding: 0 100px;
    }
  }
}