@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.tag {
  display: inline-block;
  min-width: 84px;

  padding: v.$spacing-xxs v.$spacing-sm2;

  color: #fff;
  font-size: v.$font-xxs;
  font-weight: v.$font-weight-bold;
  text-align: center;

  background-color: #ff6060;
  border-radius: v.$border-radius-sm;

  @include m.respond-to(tablet) {
      min-width: 115px;

      font-size: v.$font-xs;
    }

    @include m.respond-to(desktop) {
      min-width: 115px;

      font-size: v.$font-base;

      border-radius: v.$border-radius-md;      
    }
}