@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.rating {
  display: flex;
  gap: v.$spacing-sm;

  @include m.respond-to(tablet) {
    gap: v.$spacing-sm2;
  }

  @include m.respond-to(desktop) {
    gap: v.$spacing-sm2;
  }

  &__star {
    height: 13px;
    width: auto;

    @include m.respond-to(tablet) {
      height: 18px;
    }

    @include m.respond-to(desktop) {
      height: 24px;
    }
  }
}