@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.slideshow {
  position: relative;

  width: 100%;
  height: 255px;
  overflow: hidden;

  color: v.$color-text-light;

  border-radius: v.$border-radius-md;
  
  @include m.respond-to(tablet) {
    height: 335px;

    border-radius: v.$border-radius-lg;
  }

  @include m.respond-to(desktop) {
    height: 415px;

    border-radius: v.$border-radius-lg;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &__image{
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    opacity: 0;
    transition: opacity 0.6s ease;

    &.active {
      position: absolute;
      z-index: 1;

      width: 100%;

      opacity: 1;
    }
  }

  &__placeholder-text {
    position: absolute;
    inset: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    color: v.$color-primary;
    font-weight: v.$font-weight-medium;
    text-align: center;

    pointer-events: none;

    @include m.respond-to(tablet) {
      font-size: v.$font-lg;
    }

    @include m.respond-to(desktop) {
      font-size: v.$font-xl;
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;

    transform: translateY(-50%);

      @include m.respond-to(tablet) {
        width: 30px;
      }

      @include m.respond-to(desktop) {
        width: 46px;
      }

    &--previous {
      left: 10px;

      @include m.respond-to(tablet) {
        left: 18px;
      }

      @include m.respond-to(desktop) {
        left: 24px;
      }
    }

    &--next {
      right: 10px;

      @include m.respond-to(tablet) {
        right: 18px;
      }

      @include m.respond-to(desktop) {
        right: 24px;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  } 

  &__counter {
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 3;

    display: none;
    
    font-weight: v.$font-weight-medium;

    transform: translateX(-50%);

    @include m.respond-to(tablet) {
      bottom: 18px;

      font-size: v.$font-md;
    }

    @include m.respond-to(desktop) {
      bottom: 24px;

      display: block;
      
      font-size: v.$font-lg;
    }
  }
}