@use 'variables' as v;
@use 'mixins' as m;

html, body {
  height: 100%;
}

html {
  font-size: 14px; // base mobile → 1rem = 14px
}

body {
  font-family: v.$font-main;
  font-size: v.$font-base;
  line-height: 1.5;
  color: v.$color-text-dark;
  background-color: v.$color-background;
}

h1 {
  font-size: v.$font-xxl;
}

p {
  font-size: v.$font-base;
}

a {
  color: v.$color-text-dark;
  text-decoration: none;

  &:hover {
    color: v.$color-primary;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @include m.respond-to(tablet) {
    padding: 0 50px;
  }

  @include m.respond-to(desktop) {
    padding: 0 100px;
  }
}

