@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.thumb {
  position: relative;
  display: block;
  height: 255px;
  overflow: hidden;

  text-decoration: none;

  border-radius: v.$border-radius-md;
  
  cursor: pointer;

  @include m.respond-to(desktop) {
    height: 340px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );

    transition: background 0.3s ease;
  }

  &:hover::after {
    background: linear-gradient(
    180deg,
    rgba(0,0,0,0.1) 0%,
    rgba(0,0,0,0.2) 42%,
    rgba(0,0,0,0.4) 99.99%,
    rgba(0,0,0,0.6) 100%
  );
}

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: v.$border-radius-md;

    transition: transform 0.3s ease;
  }

  &:hover &__image {
    transform: scale(1.05);
  }

  &__title {
    position: absolute;
    bottom: v.$spacing-md2;
    left: v.$spacing-md2;
    z-index: 2;

    font-size: v.$font-lg;
    font-weight: v.$font-weight-bold;
    color: v.$color-text-light;
  }
}